@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Kotta+One);
body {
	/*background-image: url(../img/pizza1.jpg);*/
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	color: #FFF;
	margin: 2.0em auto;
	width: 60%;
	/*padding: 10px;*/
}

header {
	/*background-color: rgba(255, 113, 0, 0.8);*/
	background-color: black;
	margin-bottom: 30px;

}

a {
	color: #FFF;
	
}

nav {
	padding-bottom: 5px;
	margin: 0 auto;
}

nav a{
	text-decoration: none;
}

nav li {
	display: inline-block;
}

nav li + li:before {
	content: " | ";
}

section {
	margin-bottom: 20px;
	margin-left: 20px;
}

article,
footer	{
	margin: 0px auto;
	border-top: 1px solid red;
	/*background-color: rgba(166, 74, 0, 0.7);*/
	background-color: black;
	padding-top: 4%;
	padding-bottom: 2%;
	padding-left: 8%;
	padding-right: 8%;
}


footer {
	padding-top: 1em;
	padding-bottom: 0.1em;
}

footer p {
	/*text-align: center;*/
	font-size: 70%;
	line-height: 20px;
}

header .twitter-img {
	float: right;
	max-height: 50px;
	margin-top: -0.2em;
}

.content {
	margin-top: -3px;
}

.biz-info {
	display: inline;
	margin: 0 auto;
	margin-bottom: 10px;
}

.left-column {
	float: left;
	width: 50%;
}

.right-column {
	float: right;
	width: 44%;
}

.info-block {
	margin-bottom: 10px;
}

.info-block p{
	font-size: 80%;
}

.info-block h3 {
	/*color: #FFB173;*/
}

.brand {
	margin: 0px 20px 10px 0px;
}

.brand img {
	width: 150px;
	float: left;
	margin-right: 38px;
	margin-left: 12px;
	margin-top: -12px;
}

.brand h1 {
	font-family: 'Kotta One', serif;
	font-size: 250%;
	padding-top: 5px;
}

.tel {
	margin-left: 2px;
}

.delivery-prompt {
	font-family: 'Kotta One', serif;
	text-align: center;
	font-size: 150%;
	padding: 0px 10px 10px 10px;
}

.phone-prompt {
	text-align: center;
	padding: 8px;
	margin: 3px auto;
	background-color: grey;
	width: 70%;
	border-radius: 5px;
	font-size: 140%
}

.column-wrapper {
	width: 80%;
	margin: 0 auto;
}

.gap-container {
	margin: 0px auto;
	position: relative;
	background-image: url(img/pizza1.jpg);
}

.gap-container img{
	width: 100%;
}

.gap-container .description {
	position: absolute;
	left: 14%;
	bottom: 0%;
	z-index: 100;
}

.description p {
	font-family: 'Kotta One', 'Georgia', serif;
	font-size: 150%;
	 text-shadow: 0px 2px 5px rgba(0,0,0,0.8); 
	/*color: #FFB173;*/
	margin-bottom: 40px;
}

.foot-text {
	clear: both;
	text-align: center;
}

/* Menu Page Specific */

.category-name {
	font-size: 130%;
}

.pizza-size-list {
	margin-top: 20px; 
	border-bottom: 1px dashed white;
	width: 70%;
	padding-bottom: 5px;
}

.pizza-size-list li {
	display: inline;
	margin-right: 10px;
}


.subtype,
.pizza-explanation {
	margin: 30px 0px 0px 20px;
}

.subtype .dishes {
	margin-left: 20px;
	border-left: 1px solid white;
	padding-left: 10px;
}

.subtype dt,
.subtype p {
	font-family: 'Kotta One', 'Georgia', serif;
	font-size: 110%;
	margin-top: 15px;
}

.subtype dd {
	font-size: 70%;
	margin-top: 3px;
}

/* About Page Specific*/

