@import url(http://fonts.googleapis.com/css?family=Kotta+One);
@import url(https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css);

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

body {
	/*background-image: url(../img/pizza1.jpg);*/
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #black;
	font-size: 18px;
	background-color: #FFc773;
	margin: 2.0em auto;
	width: 60%;
	/*padding: 10px;*/
}

header {
	/*background-color: rgba(255, 113, 0, 0.8);*/
	background-color: #689CD2;
	margin-bottom: 30px;
	min-height: 50px;

}

a {
	color: black;
	
}

nav {
	padding-bottom: 5px;
	margin: 0 auto;
}

nav a{
	text-decoration: none;
}

nav li {
	display: inline-block;
}

nav li + li:before {
	content: " | ";
}

section {
	margin-bottom: 20px;
	margin-left: 20px;
}

article,
footer	{
	margin: 0px auto;
	background-color: white;
	padding-top: 4%;
	padding-bottom: 2%;
	padding-left: 8%;
	padding-right: 8%;
}


footer {
	padding-top: 1em;
	padding-bottom: 0.1em;
}

footer p {
	/*text-align: center;*/
	font-size: 70%;
	line-height: 20px;
}

.twitter-img {
	width: 50px;
	height: 50px;
}

.content {
	margin-top: -3px;
}


.info-block p{
	font-size: 80%;
}

.brand {
	margin: 0px 20px 10px 0px;
}

.brand img {
	width: 150px;
	float: left;
	margin-right: 38px;
	margin-left: 12px;
	margin-top: 4px;
}

.brand h1 {
	font-family: 'Kotta One', serif;
	font-size: 250%;
	padding-top: 5px;
}

.tel {
	margin-left: 2px;
}

.delivery-prompt {
	font-family: 'Kotta One', serif;
	text-align: center;
	font-size: 150%;
	padding: 0px 10px 10px 10px;
}

.phone-prompt {
	text-align: center;
	padding: 8px;
	margin: 3px auto;
	color: white; 
	background-color: grey;
	width: 70%;
	border-radius: 5px;
	font-size: 140%
}

.column-wrapper {
	width: 80%;
	margin: 0 auto;
}

.gap-container {
	margin: 0px auto;
	position: relative;
	background-image: url(img/pizza1.jpg);
}

.gap-container img{
	width: 100%;
}

.gap-container .description {
	position: absolute;
	left: 14%;
	bottom: 0%;
	z-index: 100;
}

.description p {
	font-family: 'Kotta One', 'Georgia', serif;
	font-size: 150%;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.8); 
	color: white;
	margin-bottom: 40px;
}

@media (max-width: 750px) {
	.description p {
		font-size: 90%;
	}
}

@media (max-width: 430px) {
	.description p {
		font-size: 70%;
	}
}


.foot-text {
	text-align: center;
}

/* Menu Page Specific */

.category-name {
	font-size: 130%;
}

.pizza-size-list {
	margin-top: 20px; 
	border-bottom: 1px dashed white;
	width: 70%;
	padding-bottom: 5px;
}

.pizza-size-list li {
	display: inline;
	margin-right: 10px;
}


.subtype,
.pizza-explanation {
	margin: 30px 0px 0px 20px;
}

.subtype .dishes {
	margin-left: 20px;
	border-left: 1px solid white;
	padding-left: 10px;
}

.subtype dt,
.subtype p {
	font-family: 'Kotta One', 'Georgia', serif;
	font-size: 110%;
	margin-top: 15px;
}

.subtype dd {
	font-size: 70%;
	margin-top: 3px;
}

/* About Page Specific*/

.story h4 {
	font-family: 'Kotta One', 'Georgia', serif;
	font-size: 130%;
}

.story p {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 90%;
}